@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #6d28d9;
  --second-color: #6e3ac2;
  --first-color-light: #fdfdfd;
  --white-color: #f7f6fb;

  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.primary-btn {
  background-color: var(--first-color);
  outline: none;
  border: none;
}

.primary-btn:hover {
  background-color: var(--second-color);
  outline: none;
  border: none;
}

.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url("./assets/grad.jpg");
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
